@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap');

h1,h2,h3,h4,h5,.logo-font {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4166F5;
}

.nav-font {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}




/* header 영역  */
/* 로그인 홈 배경이미지 */
.bg-login {
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2)) , url('/images/refoam_login_bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav 영역 */
@media (min-width:300px) and (max-width:860px) {
    .md-hidden{  display: none;
    }
}

@media (max-width:767px) {
.nav-account {
    background: #FFF;
    padding: 10px 5px;
    border-radius: 5px;
}

ul.navbar-nav {
    margin-left: 16px !important;
}

}

/* 로그아웃버튼 간격용  */
.margin-minus{
    margin-left: -16px;
}


.nav-img {
    height: 40px;
}

.nav-link.active,
.nav-link:hover {
    color: #4166F5 !important;
    font-weight: bold;
}

.nav-no-link {
    display: block;
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.dropdown-item:hover {
    color: #4166F5;
    font-weight: 700;
}

.dropdown-item:active {
    background-color: #cfe5f9;
    color: #4166F5;
}

.nav-bg {
    background-color: #ddf0f6;
}

.badge {
    background-color: #FF8228;
    padding: 2px 4px 2px;

}

#nav-hidden {
    height: 82px;
}


/* 컨텐츠 영역 */
.btn-refoam {
  --bs-btn-color: #fff;
  --bs-btn-bg : #4166F5;
  --bs-btn-border-color: #4166F5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4166F5;
  --bs-btn-disabled-border-color: #4166F5;
}

.btn-delete {
  --bs-btn-color: #fff;
  --bs-btn-bg : #FF8228;
  --bs-btn-border-color: #FF8228;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff6944;
  --bs-btn-hover-border-color: #ff6944; ;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff6944;;
  --bs-btn-active-border-color: #ff6944;;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FF8228;
  --bs-btn-disabled-border-color: #FF8228;
}

/* 페이지네이션 */
.page-link {
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-weight: 500;
    color: #4166F5;
    background-color: var(--bs-pagination-bg);
    border: none;
    --bs-pagination-disabled-color: rgba(65, 102, 245, 0.7);
    --bs-pagination-disabled-bg: #ddf0f6;

}

.page-link:hover {
    z-index: 2;
    color: #FF8228;
    text-decoration: none;
    background-color: #ddf0f6;

}

.page-item.active .page-link {
    z-index: 3;
    color: #ddf0f6;
    background-color:  #4166F5;

}



.navbar-toggler{
    background-color: #4166F5;
}

.navbar-toggler-icon{
   filter: invert(100%);
}

/* table size 설정 */
@media (max-width: 768px) {
    .table-lg{  display: none;
    }
}
@media (min-width: 768px) {
    .table-md{  display: none;
    }
}

/* 테이블 색상 영역 */
.table {
   --bs-table-accent-bg:  #4166F5 ;
   --bs-table-color: #fff;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state:  rgba(65, 102, 245,0.2);

}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: #ddf0f6;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: #fff;
}

    

/* 플레이스홀더 색상 오류때메 만듦*/
input::placeholder {
    color: #595959 !important;
    opacity: 1;
}



.footer-bg {
    color: #4166F5;
    background-color: #ddf0f6;
    font-weight: 600;

}


a {
    text-decoration: none;
}
