<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container mb-5" layout:fragment="content">
    <h2 class="py-4">재고 리스트</h2>
    <div class="table-responsive table-lg ">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>원재료명</th>
                <th>수량</th>
                <th>입고날짜</th>
                <th>담당직원</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>EVA</td>
                <td>50</td>
                <td>2000-00-00 00:00</td>
                <td>관리자</td>
                <td>
                    <button class="btn btn-sm">수정</button>
                    <button class="btn btn-sm">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive table-md">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>원재료명</th>
                <th>수량</th>
            </tr>
            <tr>
                <th>입고날짜</th>
                <th>담당직원</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>EVA</td>
                <td>50</td>
            </tr>
            <tr>
                <td>2000-00-00 00:00</td>
                <td>관리자</td>
                <td>
                    <button class="btn btn-sm">수정</button>
                    <button class="btn btn-sm">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>