<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container mb-5" layout:fragment="content">
    <h2 class="py-4">재고 리스트</h2>
    <div class="table-responsive table-lg ">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>원재료명</th>
                <th>수량</th>
                <th>입고날짜</th>
                <th>담당직원</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="material : ${materialList}">
                <td th:text="${material.id}">1</td>
                <td th:text="${material.materialName}">EVA</td>
                <td th:text="${material.materialQuantity}">50</td>
                <td th:text="${#temporals.format(material.materialDate,'yyyy-MM-dd HH:mm')}">2000-00-00 00:00</td>
                <td>관리자</td>
                <td>
                    <button class="btn btn-sm">수정</button>
                    <button class="btn btn-sm">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive table-md">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>원재료명</th>
                <th>수량</th>
            </tr>
            <tr>
                <th>입고날짜</th>
                <th>담당직원</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="material : ${materialList}">
                <tr>
                    <td th:text="${material.id}">1</td>
                    <td th:text="${material.materialName}">EVA</td>
                    <td th:text="${material.materialQuantity}">50</td>
                </tr>
                <tr>
                    <td th:text="${#temporals.format(material.materialDate,'yyyy-MM-dd HH:mm')}">2000-00-00 00:00</td>
                    <td>관리자</td>
                    <td>
                        <button class="btn btn-sm">수정</button>
                        <button class="btn btn-sm">삭제</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <nav class="">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">&lt Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next &gt</a>
            </li>
        </ul>
    </nav>
</div>
</html>